{% extends "layout.html" %}
{% block page_title %}Dashboard - Kostal PV{% endblock %}
{% block nav_class %}active{% endblock %}
{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Dashboard</h1>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-header bg-primary">
                                <div class="row">
                                    <div class="col-3">
                                        <i class="fas fa-bolt fa-5x" style="color: white"></i>
                                    </div>
                                    <div class="col-9 text-right">
                                        <h1>{{ daily_energy }} kWh</h1>
                                        <div>Tägliche Leistung</div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <span class="fa-pull-left">Max letzten 7 Tage</span>
                                <span class="fa-pull-right">{{ max_daily_energy_last_seven_days }} kWh</span>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-lg-3 col-md-6 -->
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-header bg-primary">
                                <div class="row">
                                    <div class="col-3">
                                        <i class="fas fa-lightbulb fa-5x" style="color: white"></i>
                                    </div>
                                    <div class="col-9 text-right">
                                        <h1>{{ current_year_energy }} kWh</h1>
                                        <div>Aktuelles Jahr</div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <span class="fa-pull-left">Insgesamte Leistung</span>
                                <span class="fa-pull-right">{{ total_energy }} kWh</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
{% endblock %}